<div class="content container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <h4 class="modal-title">Edit Department</h4>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-md-6 col-md-offset-3">
          <form [formGroup]="editForm" (ngSubmit)="updateDepartment(editForm)" novalidate>
            <div class="form-group"
               [class.has-error]="
                editForm.controls['department'].invalid &&
                editForm.controls['department'].touched"
               [class.has-success]="editForm.controls['department'].valid"
            >
              <label for="department">Department Name <span class="text-danger">*</span></label>
              <input id="department" class="form-control" type="text" formControlName="department">
              <span class="help-block" *ngIf="editForm.controls['department'].errors && editForm.controls['department'].touched">
                  Department Name is invalid
            </span>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="uptDepartmentValidation" class="alert alert-info m-t-10">
                <strong>Warning!</strong> Must Fill all Mandatory Fields.
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Save Department</button>
            </div>
          </form>
        </div>
      </div>
    </div>
