<div class="content container-fluid" *ngIf="uptEmp">
    <div class="row">
      <div class="col-md-4">
          <h4 class="modal-title">Edit Employee</h4>
        </div>
      </div>
        <div class="row m-t-20">
          <div class="col-md-12">
          <form class="m-b-30" [formGroup]="editForm" (ngSubmit)="updateSubmit(editForm)" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="firstname" class="control-label">First Name</label>
                      <input id="firstname" class="form-control" type="text" formControlName="firstname">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastname" class="control-label">Last Name</label>
                      <input id="lastname" class="form-control" type="text" formControlName="lastname">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="username" class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                      <input id="username" class="form-control" type="text" formControlName="username" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="editForm.controls['email'].invalid && editForm.controls['email'].touched" [class.has-success]="editForm.controls['email'].valid">
                      <label for="email" class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                      <input id="email" class="form-control" type="email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" formControlName="email" required>
                      <span class="help-block" *ngIf="editForm.controls['email'].errors && editForm.controls['email'].touched">
                        Email is invalid
                      </span>
                      </div>
                  </div>
                  <div class="col-sm-6"
                       [class.has-error]="
                          editForm.controls['password'].invalid &&
                          editForm.controls['password'].touched"
                       [class.has-success]="editForm.controls['password'].valid"
                  >
                    <div class="form-group">
                      <label for="password" class="control-label">Password <span class="text-danger m-l-5">*</span></label>
                      <input id="password" class="form-control" type="password" formControlName="password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="editForm.hasError('notSame')">
                      <label for="password2" class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                      <input id="password2" class="form-control" type="password" matInput formControlName="password2">
                      <span class="help-block" *ngIf="editForm.hasError('notSame')">
                        Passwords do not match
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['emmpid'].invalid &&
                          editForm.controls['emmpid'].touched"
                         [class.has-success]="editForm.controls['emmpid'].valid"
                    >
                      <label for="emmpid" class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                      <input id="emmpid" type="text" class="form-control" formControlName="emmpid" readonly>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group pos-rel"
                         [class.has-error]="
                          editForm.controls['joiningdate'].invalid &&
                          editForm.controls['joiningdate'].touched"
                         [class.has-success]="editForm.controls['joiningdate'].valid"
                    >
                      <label for="joiningdate" class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
                      <input id="joiningdate" readonly type="text" class="form-control datecolor" formControlName="joiningdate" [matDatepicker]="picker1">
                      <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['corporateid'].invalid &&
                          editForm.controls['corporateid'].touched"
                         [class.has-success]="editForm.controls['corporateid'].valid"
                    >
                      <label for="corporateid" class="control-label">Company <span class="text-danger m-l-5">*</span></label>
                      <select id="corporateid" class="select form-control" formControlName="corporateid" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let cmp of companies" [value]=cmp.corporateid>{{cmp.corporateid}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6"
                       [class.has-error]="
                          editForm.controls['role'].invalid &&
                          editForm.controls['role'].touched"
                       [class.has-success]="editForm.controls['role'].valid"
                  >
                    <div class="form-group">
                      <label for="role" class="control-label">Roles<span class="text-danger m-l-5">*</span></label>
                      <select id="role" class="select form-control" formControlName="role" required>
                        <option value="Admin">Admin</option>
                        <option value="Management">Management</option>
                        <option value="Employee">Employee</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="editForm.controls['mobile'].invalid && editForm.controls['mobile'].touched" [class.has-success]="editForm.controls['mobile'].valid">
                      <label for="mobile" class="control-label">Phone</label>
                      <input id="mobile" class="form-control unit-cost" type="text" formControlName="mobile" pattern="(\d{10}|\d{12})">
                      <span class="help-block" *ngIf="editForm.controls['mobile'].errors && editForm.controls['mobile'].touched">
                        Mobile Number is invalid
                      </span>
                    </div>
                  </div>
                </div>
            <div class="table-responsive m-t-15">
              <table class="table table-striped custom-table">
                <thead>
                  <tr>
                    <th>Module Permission</th>
                    <th class="text-center">Read</th>
                    <th class="text-center">Write</th>
                    <th class="text-center">Create</th>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Import</th>
                    <th class="text-center">Export</th>
                  </tr>
                </thead>
                <tbody *ngIf="uptEmp.permissions" formArrayName="permissions">
                    <tr formGroupName="holiday">
                        <td>Holidays</td>
                        <td class="text-center">
                          <input aria-label="read" formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="write" formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="create" formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="delete" formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="import" formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="export" formControlName="export" type="checkbox">
                        </td>
                      </tr>
                      <tr formGroupName="leave">
                        <td>Leave Request</td>
                        <td class="text-center">
                          <input aria-label="read" formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="write" formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="create" formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="delete" formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="import" formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="export" formControlName="export" type="checkbox">
                        </td>
                      </tr>
                      <tr formGroupName="assets">
                        <td>Assets</td>
                        <td class="text-center">
                          <input aria-label="read" formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="write" formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="create" formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="delete" formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="import" formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input aria-label="export" formControlName="export" type="checkbox">
                        </td>
                      </tr>
               </tbody>
              </table>
              <br>

            </div>
            <div class="m-t-20 text-center">
                <div *ngIf="uptEmployeeValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                </div>
              <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
