<div class="content container-fluid" *ngIf="uptEmp">
    <div class="row">
      <div class="col-md-4">
          <h4 class="modal-title">Edit Employee</h4>
        </div>
      </div>
        <div class="row m-t-20">
          <div class="col-md-12">
          <form class="m-b-30" [formGroup]="editForm" (ngSubmit)="updateSubmit(editForm)" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">First Name <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="firstname" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input class="form-control" type="text" formControlName="lastname">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="text" formControlName="username" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="editForm.controls['email'].invalid && editForm.controls['email'].touched" [class.has-success]="editForm.controls['email'].valid">
                      <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" formControlName="email" required>
                      <span class="help-block" *ngIf="editForm.controls['email'].errors && editForm.controls['email'].touched">
                        Email is invalid
                      </span>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password2">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                      <input type="text" class="form-control" formControlName="emmpid" readonly>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group pos-rel">
                      <label class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
<!--                      <my-date-picker required aria-readonly formControlName="joiningdate" [options]="myDatePickerOptions"></my-date-picker>-->
                      <input type="text" class="form-control" formControlName="joiningdate" [matDatepicker]="picker1">
                      <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Company</label>
                      <select class="select form-control" formControlName="corporateid" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let cmp of companies" [value]=cmp.corporateid>{{cmp.corporateid}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Roles<span class="text-danger m-l-5">*</span></label>
                      <select class="select form-control" formControlName="role" required>
                        <option value="Admin">Admin</option>
                        <option value="Management">Management</option>
                        <option value="Employee">Employee</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="editForm.controls['mobile'].invalid && editForm.controls['mobile'].touched" [class.has-success]="editForm.controls['mobile'].valid">
                      <label class="control-label">Phone <span class="text-danger">*</span></label>
                      <input class="form-control unit-cost" type="text" formControlName="mobile" pattern="(\d{10}|\d{12})">
                      <span class="help-block" *ngIf="editForm.controls['mobile'].errors && editForm.controls['mobile'].touched">
                        Mobile Number is invalid
                      </span>
                    </div>
                  </div>
                </div>
            <div class="table-responsive m-t-15">
              <table class="table table-striped custom-table">
                <thead>
                  <tr>
                    <th>Module Permission</th>
                    <th class="text-center">Read</th>
                    <th class="text-center">Write</th>
                    <th class="text-center">Create</th>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Import</th>
                    <th class="text-center">Export</th>
                  </tr>
                </thead>
                <tbody *ngIf="uptEmp.permissions" formArrayName="permissions">
                    <tr formGroupName="holiday">
                        <td>Holidays</td>
                        <td class="text-center">
                          <input formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="export" type="checkbox">
                        </td>
                      </tr>
                      <tr formGroupName="leave">
                        <td>Leave Request</td>
                        <td class="text-center">
                          <input formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="export" type="checkbox">
                        </td>
                      </tr>
                      <tr formGroupName="assets">
                        <td>Assets</td>
                        <td class="text-center">
                          <input formControlName="read" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="write" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="create" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="delete" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="import" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input formControlName="export" type="checkbox">
                        </td>
                      </tr>
               </tbody>
              </table>
              <br>

            </div>
            <div class="m-t-20 text-center">
                <div *ngIf="uptEmployeeValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                </div>
              <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
