<div class="content container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <h4 class="page-title">Leave Type</h4>
    </div>
    <div class="col-xs-4 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary rounded pull-right" (click)="addReset()"><i class="fa fa-plus"></i>
        Add Leave Type</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">

        <app-agrid
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (onGridApiCreated)="onGridReady($event)"
        >
        </app-agrid>

      </div>
    </div>
  </div>
</div>

<div id="delete_leavetype" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Leave Type</h4>
      </div>
      <div class="modal-body card-box">
        <p>Are you sure want to delete this?</p>
        <div class="m-t-20 text-left">
          <a href="javascript:" class="btn btn-default m-r-10" data-dismiss="modal">Close</a>
          <button type="submit" class="btn btn-danger" (click)="onDeleteSub('yes')">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="add_leavetype" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Add Leave Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="addLeavetype(addForm)">
          <div class="form-group">
            <label for="leavetype1">Leave Type <span class="text-danger">*</span></label>
            <input id="leavetype1" class="form-control" required type="text" formControlName="leavetype">
          </div>
          <div class="form-group">
            <label for="numberofdays1">Number of days <span class="text-danger">*</span></label>
            <input id="numberofdays1" class="form-control" required type="text" formControlName="leavedays">
          </div>
          <div class="form-group">
            <label for="carryforward1">Carry Forward <span class="text-danger">*</span></label>
            <select id="carryforward1" class="form-control" formControlName="carryforward">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="status1">Status <span class="text-danger">*</span></label>
            <select id="status1" class="form-control" formControlName="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary" [disabled]="addForm.invalid">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="edit_leavetype" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Edit Leave Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="uptForm" (ngSubmit)="updateLeavetype(uptForm)">
          <div class="form-group">
            <label for="leavetype2">Leave Type <span class="text-danger">*</span></label>
            <input id="leavetype2" class="form-control" required type="text" formControlName="leavetype">
          </div>
          <div class="form-group">
            <label for="numberofdays2">Number of days <span class="text-danger">*</span></label>
            <input id="numberofdays2" class="form-control" required type="text" formControlName="leavedays">
          </div>
          <div class="form-group">
            <label for="carryforward2">Carry Forward <span class="text-danger">*</span></label>
            <select id="carryforward2" class="form-control" formControlName="carryforward">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="status2">Status <span class="text-danger">*</span></label>
            <select id="status2" class="form-control" formControlName="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary" [disabled]="uptForm.invalid">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
