  <div class="account-page">
    <div class="container">
      <h3 class="account-title">Management Login</h3>
      <div class="account-box">
        <div class="account-wrapper">
          <div class="account-logo">
            <a href="javascript:"><img src="assets/img/logo2.png" alt="Focus Technologies"></a>
          </div>

          <div *ngIf="isloggedin" class="alert alert-danger m-t-10" style="text-align: center;">
            <strong class="text-center">Incorrect Email or Password!</strong>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="password" formControlName="password">
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-block account-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
            <div class="text-center">
              <a routerLink="../forgot-password">Forgot your password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
