
<div class="content container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <h4 class="page-title">Employee</h4>
    </div>
    <div class="col-xs-8 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary pull-right rounded" (click)="addReset()"><i class="fa fa-plus"></i>
        Add Employee</a>
      <div class="view-icons">
        <a class="grid-view btn btn-link" [ngClass]="{active:!allEmployees}" (click)="allEmployees=false"><i class="fa fa-th"></i></a>
        <a class="list-view btn btn-link" [ngClass]="{active:allEmployees}" (click)="allEmployees=true"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Employee ID</label>
        <input type="text" class="form-control floating" (input)="searchID($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Employee Name</label>
        <input type="text" class="form-control floating" (input)="searchName($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus select-focus">
        <label class="control-label">Designation</label>
        <select class="select floating select-designation" (input)="searchDesg($event.target.value)">
          <option value="">All Designations</option>
          <option value="Web Developer">Web Developer</option>
          <option value="Web Designer">Web Designer</option>
          <option value="Android Developer">Android Developer</option>
          <option value="Ios Developer">Ios Developer</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="javascript:" class="btn btn-success btn-block"> Search </a>
    </div>
  </div>
  <div class="row" *ngIf="allEmployees">
    <div class="col-md-12">
      <div class="table-responsive table-responsive-inherit">
        <app-agrid
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (onGridApiCreated)="onGridReady($event)"
        >
        </app-agrid>
</div>
    </div>
  </div>
  <div class="row staff-grid-row" *ngIf="!allEmployees">
    <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3" *ngFor="let item of rows">
      <div class="profile-widget">
        <div class="profile-img">
          <a href="javascript:"><img class="avatar" src="assets/img/user.jpg" alt=""></a>
        </div>
        <div class="dropdown profile-action">
          <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:" data-toggle="modal" data-target="#edit_employee"  (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
            <li><a (click)="onDelete(item.id)"><i class="fa fa-trash-o m-r-5"></i>
                Delete</a></li>
          </ul>
        </div>
        <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="javascript:">{{item.firstName}} {{item.lastName}}</a></h4>
        <div class="small text-muted">{{item.designation}}</div>
      </div>
    </div>
  </div>
</div>

<div id="add_employee" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Add Employee</h4>
      </div>
      <div class="modal-body">
        <form class="m-b-30" [formGroup]="editForm" (ngSubmit)="createSubmit(editForm)" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" formControlName="firstname">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" formControlName="lastname">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"
                   [class.has-error]="
                    editForm.controls['username'].invalid &&
                    editForm.controls['username'].touched"
                   [class.has-success]="editForm.controls['username'].valid"
              >
                <label class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="text" formControlName="username" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [class.has-error]="editForm.controls['email'].invalid && editForm.controls['email'].touched" [class.has-success]="editForm.controls['email'].valid">
                <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" formControlName="email" required>
                <span class="help-block" *ngIf="editForm.controls['email'].errors && editForm.controls['email'].touched">
                        Email is invalid
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"
                   [class.has-error]="
                    editForm.controls['password'].invalid &&
                    editForm.controls['password'].touched"
                   [class.has-success]="editForm.controls['password'].valid"
              >
                <label class="control-label">Password<span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="password" formControlName="password" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [class.has-error]="editForm.hasError('notSame')">
                <label class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="password" matInput formControlName="password2" [errorStateMatcher]="matcher">
                <span class="help-block" *ngIf="editForm.hasError('notSame')">
                        Passwords do not match
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"
                   [class.has-error]="
                    editForm.controls['emmpid'].invalid &&
                    editForm.controls['emmpid'].touched"
                   [class.has-success]="editForm.controls['emmpid'].valid"
              >
                <label class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                <input type="text" class="form-control" formControlName="emmpid" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group pos-rel"
                   [class.has-error]="
                    editForm.controls['joiningdate'].invalid &&
                    editForm.controls['joiningdate'].touched"
                   [class.has-success]="editForm.controls['joiningdate'].valid"
              >
                <label class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
                <input readonly type="text" class="form-control datecolor" formControlName="joiningdate" [matDatepicker]="picker2" required>
                <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"
                   [class.has-error]="
                    editForm.controls['corporateid'].invalid &&
                    editForm.controls['corporateid'].touched"
                   [class.has-success]="editForm.controls['corporateid'].valid"
              >
                <label class="control-label">Company <span class="text-danger">*</span></label>
                <select class="select form-control" formControlName="corporateid" required>
                  <option value="">--Select--</option>
                  <option *ngFor="let cmp of companies" [value]=cmp.corporateid>{{cmp.corporateid}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"
                   [class.has-error]="
                    editForm.controls['role'].invalid &&
                    editForm.controls['role'].touched"
                   [class.has-success]="editForm.controls['role'].valid"
              >
                <label class="control-label">Roles<span class="text-danger m-l-5">*</span></label>
                <select class="select form-control" formControlName="role" required>
                  <option value="">--Select--</option>
                  <option value="Admin">Admin</option>
                  <option value="Management">Management</option>
                  <option value="Employee">Employee</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [class.has-error]="editForm.controls['mobile'].invalid && editForm.controls['mobile'].touched" [class.has-success]="editForm.controls['mobile'].valid">
                <label class="control-label">Mobile</label>
                <input class="form-control unit-cost" type="text" formControlName="mobile" pattern="(\d{10}|\d{12})">
                <span class="help-block" *ngIf="editForm.controls['mobile'].errors && editForm.controls['mobile'].touched">
                        Mobile Number is invalid
                      </span>
              </div>
            </div>
          </div>
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
              <tr>
                <th>Module Permission</th>
                <th class="text-center">Read</th>
                <th class="text-center">Write</th>
                <th class="text-center">Create</th>
                <th class="text-center">Delete</th>
                <th class="text-center">Import</th>
                <th class="text-center">Export</th>
              </tr>
              </thead>
              <tbody formArrayName="permissions">
              <tr formGroupName="holiday">
                <td>Holidays</td>
                <td class="text-center">
                  <input formControlName="read" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="write" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="create" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="delete" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="import" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="export" type="checkbox">
                </td>
              </tr>
              <tr formGroupName="leave">
                <td>Leave Request</td>
                <td class="text-center">
                  <input formControlName="read" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="write" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="create" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="delete" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="import" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="export" type="checkbox">
                </td>
              </tr>
              <tr formGroupName="assets">
                <td>Assets</td>
                <td class="text-center">
                  <input formControlName="read" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="write" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="create" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="delete" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="import" type="checkbox">
                </td>
                <td class="text-center">
                  <input formControlName="export" type="checkbox">
                </td>
              </tr>
              </tbody>
            </table>
            <br>

          </div>
          <div class="m-t-20 text-center">
            <div *ngIf="uptEmployeeValidation" class="alert alert-info m-t-10">
              <strong>Warning!</strong> Must Fill all Mandatory Fields.
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="delete_employee" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Employee</h4>
      </div>
      <form>
        <div class="modal-body card-box">
          <p>Are you sure want to delete this?</p>
          <div class="m-t-20"> <a href="javascript:" class="btn btn-default" data-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

