.select-designation{
    padding: 10px 0px 0px 7px;
    border: 1px solid #ccc;
    width: 100%;
}

.popmodal{
    position:relative;
    background:#fff;
    margin:auto;
}
.formpicker { position: absolute; right: 0; top: 23px }
.datecolor { background-color: #ffffff }
.form-group { min-height: 65px }
