<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="page-title">Department</h4>
    </div>
    <div class="col-sm-4 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary rounded" (click)="addReset()"><i class="fa fa-plus"></i>
        Add New Department</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive table-responsive-inherit">
        <table class="table table-striped custom-table" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th style="width: 30%">
                <mfDefaultSorter by="department">Department</mfDefaultSorter>
              </th>
              <th style="width: 60%">
                <mfDefaultSorter by="department">Assigned Designations</mfDefaultSorter>
              </th>
<!--              <th style="width: 30%">-->
<!--                <mfDefaultSorter by="department">Leaves Allocation</mfDefaultSorter>-->
<!--              </th>-->
              <th style="width: 10%;">
                <mfDefaultSorter by="Action">Action</mfDefaultSorter>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data;let i = index">
              <td>{{item.department}}</td>
              <td>
                <div class="chipstypes" *ngFor="let item of getDesignById(item._id)">
                  {{item.designation}}
<!--                  <a (click)="designationdetail(item)">{{item.designation}}</a>-->
                </div>
              </td>
<!--              <td><a (click)="leaveAssign(item)">Click to Assign</a></td>-->
              <td>
                <div class="dropdown">
                  <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                      class="fa fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:" title="Edit" (click)="onEdit(item)"><i
                          class="fa fa-pencil m-r-5"></i>
                        Edit</a></li>
                    <li><a title="Delete" (click)="actionClickDelete(item)"><i class="fa fa-trash-o m-r-5"></i>
                        Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="delete_department" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Department</h4>
      </div>
      <div class="modal-body card-box">
        <p>Are you sure want to delete this?</p>
        <div class="m-t-20 text-left">
          <a href="javascript:" class="btn btn-default m-r-10" data-dismiss="modal">Close</a>
          <button (click)="onDeleteSub()" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="add_department" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Add Department</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="addDepartment(editForm)" novalidate>
          <div class="form-group"
             [class.has-error]="
              editForm.controls['department'].invalid &&
              editForm.controls['department'].touched"
             [class.has-success]="editForm.controls['department'].valid"
          >
            <label for="department">Department Name <span class="text-danger">*</span></label>
            <input id="department" class="form-control" type="text" formControlName="department">
            <span class="help-block" *ngIf="editForm.controls['department'].errors && editForm.controls['department'].touched">
                  Department Name is invalid
            </span>
          </div>
          <div class="m-t-20 text-center">
              <div *ngIf="addDepartmentValidation" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Must Fill all Mandatory Fields.
              </div>
            <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Create Department</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Leave Allocation Dialog-->

<!--<div id="leave_allocation" class="modal custom-modal fade" role="dialog">-->
<!--  <div class="modal-dialog">-->
<!--    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--    <div class="modal-content modal-md">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Assign Leave Types: <span *ngIf="modalDesigns?.length">{{modalDesigns[0].department}}</span></h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <mat-card>-->
<!--          <div *ngFor="let item of modalDesigns;let i = index">-->
<!--            <h4 class="leavehead">-->
<!--              <span>Designation: {{item.designation}}</span>-->
<!--            </h4>-->
<!--            <mat-card>-->
<!--              <mat-checkbox color="primary" (change)="setAll($event.checked, list, item, i)">Select All</mat-checkbox>-->
<!--              <mat-selection-list color="primary" #list (selectionChange)="onDesigSelectionChange($event, item, i)">-->
<!--                <ng-container *ngFor="let lt of item.leavetype | keyvalue;let j = index">-->
<!--                  {{lt.value | json}}-->
<!--                  <mat-list-option *ngFor="let it of allLeaveTypes | uniqueBy;let k = index" [value]="it" [selected]="lt.value.leave_ID === it._id">-->
<!--                    {{it.leavetype}}-->
<!--                  </mat-list-option>-->
<!--                </ng-container>-->
<!--              </mat-selection-list>-->
<!--            </mat-card>-->
<!--          </div>-->
<!--          <div class="text-center m-t-20">-->
<!--            <button type="submit" class="btn btn-primary" (click)="applyLeaveTypes()">Assign Leaves</button>-->
<!--          </div>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
