<div class="content container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 class="page-title">Change Password</h4>
      <form [formGroup]="changeForm" (ngSubmit)="changePasswordSubmit(changeForm)">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label for="oldpwd">Old password <span class="text-danger">*</span></label>
              <input id="oldpwd" class="form-control" required type="password" formControlName="oldpassword" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="newpwd">New password <span class="text-danger">*</span></label>
              <input id="newpwd" class="form-control" required type="password" formControlName="newpassword" />
            </div>
          </div>
          <div class="col-xs-12  col-sm-6">
            <div class="form-group" [class.has-error]="changeForm.hasError('notSame')">
              <label for="confirmpwd">Confirm password <span class="text-danger">*</span></label>
              <input id="confirmpwd" class="form-control" required type="password"  formControlName="confirmpassword" />
              <span class="help-block" *ngIf="changeForm.hasError('notSame')">
                  Passwords do not match
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center m-t-20">
            <button type="submit" class="btn btn-primary" [disabled]="changeForm.invalid">Update Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
