<div class="content container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form [formGroup]="companyForm" (ngSubmit)="getCompanies()">
        <h3 class="page-title">Company Details</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Company Name <span class="text-danger">*</span></label>
              <input class="form-control" type="text" formControlName="companyname">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contact Person</label>
              <input class="form-control" type="text" formControlName="contactperson">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Address</label>
              <input class="form-control " type="text" formControlName="address1">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Address</label>
              <input class="form-control " type="text" formControlName="address2">
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>Country</label>
              <select class="form-control select" formControlName="countryid">
                <option value="IN">INDIA</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>City</label>
              <input class="form-control" type="text" formControlName="cityid">
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>State/Province</label>
              <select class="form-control select" formControlName="stateid">
                <option value="cal">California</option>
                <option value="alk">Alaska</option>
                <option value="alb">Alabama</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>ZIP Code</label>
              <input class="form-control" type="text" formControlName="zipcode">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" formControlName="email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone Number</label>
              <input class="form-control" type="text" formControlName="phone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Mobile Number</label>
              <input class="form-control" type="text" formControlName="mobile">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Fax</label>
              <input class="form-control" type="text" formControlName="fax">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Website Url</label>
              <input class="form-control" type="text" formControlName="website">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

              <div *ngIf="uptCompany" class="alert alert-info m-t-10" style="text-align: center;">
                  <strong class="text-center">Saved Successfully</strong>
              </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center m-t-20">
            <button type="submit" class="btn btn-primary" type="submit" [disabled]="!companyForm.valid">Save &amp; update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
