<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="page-title">Holidays 2020</h4>
    </div>
    <div class="col-sm-4 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary rounded" (click)="addReset()"><i class="fa fa-plus"></i>
        Add New Holiday</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive table-responsive-inherit">

        <app-agrid
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (onGridApiCreated)="onGridReady($event)"
        >
        </app-agrid>
      </div>
    </div>
  </div>
</div>
<div id="delete_holiday" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-md">
        <div class="modal-header">
          <h4 class="modal-title">Delete Holiday</h4>
        </div>
        <form>
          <div class="modal-body card-box">
            <p>Are you sure want to delete this?</p>
            <div class="m-t-20 text-left">
              <a href="javascript:" class="btn btn-default m-r-10" data-dismiss="modal">Close</a>
              <button (click)="onDeleteSub('yes')" type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="add_holiday" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-md">
        <div class="modal-header">
          <h4 class="modal-title">Add Holiday</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="addHoliday(addForm)" novalidate>
            <div class="form-group"
               [class.has-error]="
                addForm.controls['title'].invalid &&
                addForm.controls['title'].touched"
               [class.has-success]="addForm.controls['title'].valid"
            >
              <label for="title" class="control-label">Holiday Name <span class="text-danger">*</span></label>
              <input id="title" class="form-control" required type="text" formControlName="title">
              <span class="help-block" *ngIf="addForm.controls['title'].errors && addForm.controls['title'].touched">
                  Holiday Name is invalid
              </span>
            </div>
            <div class="form-group"
                 [class.has-error]="
                  addForm.controls['paid'].invalid &&
                  addForm.controls['paid'].touched"
                 [class.has-success]="addForm.controls['paid'].valid"
            >
              <label for="paid" class="control-label">Paid <span class="text-danger">*</span></label>
              <select id="paid" class="form-control" formControlName="paid">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <span class="help-block" *ngIf="addForm.controls['paid'].errors && addForm.controls['paid'].touched">
                  Field Paid is invalid
              </span>
            </div>
            <div class="form-group pos-rel"
               [class.has-error]="
                addForm.controls['date'].invalid &&
                addForm.controls['date'].touched"
               [class.has-success]="addForm.controls['date'].valid"
          >
              <label for="date" class="control-label">Holiday Date <span class="text-danger">*</span></label>
              <input id="date" readonly type="text" class="form-control datecolor" formControlName="date" [matDatepicker]="picker1" required>
              <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <span class="help-block" *ngIf="addForm.controls['date'].errors && addForm.controls['date'].touched">
                  Holiday Date is invalid
              </span>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="addHolidayValidation" class="alert alert-info m-t-10">
                <strong>Warning!</strong> Must Fill all Mandatory Fields.
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Save Holiday</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
